<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equic="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daseball API</title>
    <link rel="stylesheet" href="css/style.css" />
</head>
<body>
    <h1>Welcome to the DASEBALL API!</h1>
    </br>
    <a href="/players">/players</a>
    <p>Options : /sortType/name</p>
    <p>sortType Accepts : total, pitching, batting, running, fielding, battingaverage, onbasepercentage, slugging, ops, era, whip, fans</p>
    </br>
    <a href="/playerData">/playerData</a>
    <p>Options : /name/season</p>
    <p>season Accepts : 1, 2, 3, 4, 4.1, 4.1, 5, 6</p>
    </br>
    <a href="/gamePlayerData">/gamePlayerData</a>
    <p>Options : /name/season/gameDay</p>
    <p>season Accepts : 6</p>
    <p>gameDay Accepts : 1-45, 46-55 if Applicable</p>
    </br>
    <a href="/teams">/teams</a>
    <p>Options : /teamName</p>
    <p>teamName Accepts : All Active Team Names (eg. Kansas City Mints)</p>
    </br>
    <a href="/season">/season</a>
    <p>Options : /seasonNumber</p>
    <p>seasonNumber Accepts : 1, 2, 3, 4, 4.1, 4.1, 5, 6</p>
    </br>
    <a href="/games">/games</a>
    <p>Options : /season/day</p>
    <p>seasonNumber Accepts : 1, 2, 3, 4, 4.1, 4.1, 5, 6</p>
    <p>day Accepts : 1-45, 46-55 if Applicable</p>
    </br>
    <a href="/votes">/votes</a>
    <p>Options : /type</p>
    <p>type Accepts : Announcement, Acknowledgement, Allowance</p>
</body>
</html>